{{ define "main" }}

<div class="relative w-full px-6 py-12 bg-white md:max-w-3xl md:mx-auto lg:max-w-4xl lg:pt-16 lg:pb-28">
  <div class="mx-auto">
    <div class="flex font-light text-base">
        <p><span class="font-bold text-dbn-orange">|</span> {{ .Params.date | dateFormat "January 2, 2006" }}</p>
    </div>
    <h2 class="text-4xl font-medium">{{ .Title }}</h2>
    <div id="metadata" class="prose prose-lg mb-5 pb-5">
      <span class="font-bold">By</span> {{ range $key, $value := .Params.author }}
      {{ $value }}{{ if ne $key (sub (len $.Params.author) 1) }} and {{ else }}{{ end }}
      {{ end }} in {{ range .Params.categories }}<a class="text-dbn-orange" href="/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}
    </div>
    <div class="prose prose-lg">{{ .Content }}</div>
  </div>
</div>

{{ end }}
