**/.DS_Store
.Rproj.user
data.db
bom-db/.eslintcache
bom-db/node_modules/
.env
.env.local
bom-processing/db/updater/bin
.smbdelete*


dbupdate
bom-processing/scripts/bomr/.Rapp.history
bom-processing/db/updater/bin
