**/.DS_Store
.Rproj.user
data.db
bom-db/.eslintcache
bom-db/node_modules/
.env
.env.local
bom-processing/db/updater/bin
.smbdelete*

CLAUDE.md
.claude/
bom-processing/scripts/bompy/data-raw/
bom-processing/scripts/bompy/logs/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
profile_default/
ipython_config.py
__pycache__/

dbupdate
bom-processing/scripts/bomr/.Rapp.history
bom-processing/db/updater/bin
bom-processing/scripts/bompy/data-qc
bom-processing/scripts/bompy/notebooks

.RData
.Rhistory
.vscode/
