.tooltip {
    background: rgba(101, 104, 109, 0.9);
    border-radius: .2rem;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    max-width: 400px;
    padding: .2rem .4rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 300;
    visibility: hidden;
    }