{{ define "main" }}
<div class="wrap authors">
  <h1 class="page-title">Authors</h1>
  <div class="author-grid">
    {{ range $name, $taxonomy := .Site.Taxonomies.authors }}
    <div class="author-card">
      {{ with (index $taxonomy.Pages 0).Params.headshot }}
      <img src="{{ . }}" alt="{{ $name }}" class="avatar">
      {{ end }}
      <h2>{{ $name }}</h2>
      {{ with (index $taxonomy.Pages 0).Params.bio }}
      <p>{{ . }}</p>
      {{ end }}
      <a href="{{ "/authors/" | relURL }}{{ $name | urlize }}">View Posts</a>
    </div>
    {{ else }}
    <p>No authors found.</p>
    {{ end }}
  </div>
</div>
{{ end }}
