{{ define "main" }}
<div class="wrap authors">
  <header class="author-header">
    <img src="{{ .Params.headshot | default "/images/headshot.png" }}" alt="{{ .Params.title }}" class="avatar avatar-lg">
    <h1>{{ .Params.name }}</h1>
    <p>{{ .Params.bio }}</p>
  </header>

  <div class="prose author-posts">
    {{ range where .Site.RegularPages "Params.author" "intersect" (slice .Params.name) }}
    <article>
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p class="author-post-date">{{ .Date.Format "2006-01-02" }}</p>
      {{ if eq .Section "visualizations" }}
      <p>{{ .Params.abstract }}</p>
      {{ else }}
      <p>{{ .Summary | plainify | truncate 300 }}</p>
      <p><a href="{{ .Permalink }}">Read more...</a></p>
      {{ end }}
    </article>
    {{ else }}
    <p>No posts for this author.</p>
    {{ end }}
  </div>
</div>
{{ end }}
