<footer class="relative pt-8 pb-6 border-t border-dbn-blue-500 bg-white">
  <div class="container mx-auto px-4">
    <div class="flex flex-col items-center lg:items-start">
      <div class="w-full px-4">
        <p class="prose-base text-center lg:text-left">
          Bills of Mortality is generously funded by the
          <a class="underline" href="https://www.nsf.gov/">National Science Foundation</a>
          and developed by the
          <a class="underline" href="https://rrchnm.org/">Roy Rosenzweig Center for History and New Media</a>
          at
          <a class="underline" href="https://www2.gmu.edu/">George Mason University</a>.
        </p>
      </div>
      <div class="w-full px-4 flex flex-row justify-center lg:justify-start mt-4 space-x-4">
        <img class="h-8 w-auto" src="/images/rrchnm-logo.png" alt="Roy Rosenzweig Center for History and New Media"
          title="Roy Rosenzweig Center for History and New Media" />
        <img class="h-10 w-auto" src="/images/gmu-logo.png" alt="George Mason University"
          title="George Mason University" />
        <img class="h-10 w-auto" src="/images/nsf-logo.png" alt="National Science Foundation"
          title="National Science Foundation" />
      </div>
    </div>
  </div>
</footer>
