{{- partial "header.html" . -}}

<!-- hero -->
<section class="flex flex-wrap items-center font-sans px-4 mx-auto w-full lg:max-w-screen-lg sm:max-w-screen-sm md:max-w-screen-md pb-20">
  <!-- first column -->
  <div class="px-3 w-full lg:w-2/5">
    <div class="mx-auto mb-8 max-w-lg text-center lg:mx-0 lg:max-w-md lg:text-left">
      <h2 class="mb-4 text-3xl font-bold text-left lg:text-5xl text-white">
        Death by <span class="text-dbn-blue leading-relaxeds">Numbers</span>
      </h2>
      <p
        class="visible mx-0 mt-3 mb-0 text-base leading-relaxed text-left text-white"
      >
      One of the most dreaded diseases in early modern London was plague. Starting in 1603, government officials published weekly plague mortality statistics in a broadside series known as the Bills of Mortality. The bills grew to include not just plague deaths but also dozens of other causes of death, ensuring their continued publication for decades after the final outbreak of plague in England.
      </p>
    </div>
    <div class="text-center lg:text-left">
      <a
        class="block visible py-4 px-8 mb-4 text-xs font-semibold tracking-wide leading-none text-black bg-dbn-blue rounded cursor-pointer sm:mr-3 sm:mb-0 sm:inline-block"
        >Database</a
      >

      <a
        class="block visible py-4 px-8 text-xs font-semibold leading-none bg-white rounded border border-solid cursor-pointer sm:inline-block border-slate-200 text-slate-600"
        >Visualizations</a
      >
    </div>
    </div>

    <!-- second column -->
    <div class="px-3 mb-12 w-full lg:mb-0 lg:w-3/5">
        <!-- image container -->
      <div class="flex justify-center items-center">
        <img class="block h-auto align-middle lg:max-w-lg object-none max-w-md drop-shadow-md rounded-lg" src="/img/004179.jpg" alt="Death by Numbers" />
      </div>
    </div>
  </div>
</section>

<section
    class="flex flex-col w-full h-[200px] bg-cover bg-fixed bg-center justify-center items-center"
    style="background-image: url(/img/004179.jpg);">
</section>
