{{ define "main" }}

<div class="flex min-h-screen items-center justify-start bg-white pt-7 mx-auto w-full lg:max-w-screen-lg sm:max-w-screen-sm md:max-w-screen-md">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-medium pb-4">{{ .Title }}</h2>
    {{ if .IsHome }}

    <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
      <div class="flex items-center mb-8 sm:w-1/2 md:w-1/2">
        <div class="flex flex-wrap w-11/12 prose prose-lg">
          {{ .Content }}
        </div>
      </div>
      <div class="flex flex-col justify-center sm:w-1/2 md:w-1/2 sm:pr-16 bg-slate-100 p-3 m-3 rounded-lg">
        <h3 class="font-medium pb-4 prose-2xl">Latest Posts</h3>
        {{ range first 3 .Site.RegularPages }}
          <div id="title" class="flex flex-wrap p-5 prose">
            <p class="font-medium pb-4"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time> &middot; <a href="{{ .Permalink }}">{{ .Title }}</a></p>
            </div>
            {{ end }}
      </div>

  </div>

    <hr class="w-48 h-0.5 mx-auto my-4 bg-gray-700 border-0 rounded md:my-10">
    
          <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
            <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
                <img class="rounded-lg shadow-xl object-cover h-48 w-96" src="/img/bodleian-1642-09-recto.png" alt="">
            </div>
            <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-dbn-red uppercase">viewing the data</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl"><a class="text-dbn-green underline" href="https://database.deathbynumbers.org">The Plague Database</a></h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left">Explore the full plague bills database.</p>
            </div>
        </div>
        <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
          <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
              <img class="rounded-lg shadow-xl object-cover h-48 w-96" src="/img/preview_viz.png" alt="">
          </div>
          <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
              <p class="mb-2 text-sm font-semibold leading-none text-left text-dbn-red uppercase">knowing the data</p>
              <h3 class="mt-2 text-2xl sm:text-left md:text-4xl"><a class="text-dbn-green underline" href="/visualizations/">Visualizing the Plague</a></h3>
              <p class="mt-5 text-lg text-gray-700 text md:text-left">Transcribing the plague bills means new approaches for data visualization and exploring patterns in the data.</p>
          </div>
      </div>
        <div class="flex flex-col mb-8 animated fadeIn sm:flex-row">
            <div class="flex items-center mb-8 sm:w-1/2 md:w-5/12 sm:order-last">
                <img class="rounded-lg shadow-xl object-cover h-48 w-96" src="/img/IMG_4187.jpeg" alt="">
            </div>
            <div class="flex flex-col justify-center mt-5 mb-8 md:mt-0 sm:w-1/2 md:w-7/12 sm:pr-16">
                <p class="mb-2 text-sm font-semibold leading-none text-left text-dbn-red uppercase">read about our research</p>
                <h3 class="mt-2 text-2xl sm:text-left md:text-4xl"><a class="text-dbn-green underline" href="/blog/">Blog Posts & Essays</a></h3>
                <p class="mt-5 text-lg text-gray-700 text md:text-left">Read our ongoing research into the London plague bills.</p>
            </div>
        </div>
  </div>

    {{ else }}
    <div class="flex flex-wrap w-3/4 p-5 prose">{{ .Content }}</div>
    {{ end }}
  </div>
</div>

{{ end }}
