p {
    font-family: 'Work Sans', sans-serif;
}

h1.home-logo {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 1.5rem;
    color: hsl(217, 71%, 53%);
}

footer .logos {
    display: flex;
    flex-wrap: wrap;
}

img.rrchnm-logo {
    width: 200px;
    height: auto;
    margin: 1rem (2 * 1rem) 0 0;
    box-shadow: none;
    border: 0;
}

img.gmu-logo {
    width: 80px;
    height: auto;
    margin-top: 0;
    margin-left: 1rem;
    box-shadow: none;
    border: 0;
}

img.nsf-logo {
    width: 80px;
    height: auto;
    margin-top: 0;
    margin-left: 1rem;
    box-shadow: none;
    border: 0;
}