<instructions
  x-show="instructionsOpen"
  class="fixed inset-0 z-50 overflow-y-auto"
  aria-labelledby="instructions-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="flex items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0"
  >
    <div
      x-cloak
      @click="instructionsOpen = false"
      x-show="instructionsOpen"
      x-transition:enter="transition ease-out duration-300 transform"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition ease-in duration-200 transform"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40"
      aria-hidden="true"
    ></div>
    <div
      x-cloak
      x-show="instructionsOpen"
      x-transition:enter="transition ease-out duration-300 transform"
      x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
      x-transition:leave="transition ease-in duration-200 transform"
      x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
      x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      class="inline-block w-full max-w-xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl"
    >
      <div class="flex items-center justify-between space-x-4">
        <h3
          class="text-lg font-medium leading-6 text-gray-900"
          id="instructions-title"
        >
          How to use this table
        </h3>
        <button
          @click="instructionsOpen = false"
          class="text-gray-600 focus:outline-none hover:text-gray-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </button>
      </div>
      <p class="mt-2 text-base text-gray-800">
        The filter is divided into three areas: parishes, years, and count
        types. You can select one or more options from each area. The parishes
        can be searched by typing in the search box. "Count type" refers to
        whether you wish to see the count of people buried, people with the
        plague, or both.
      </p>
      <p class="mt-2 text-base text-gray-800">
        Once you've made adjustments to the filters, click "Apply Filters" to
        update the table. Click "Reset Filters" to reset the table to its
        default state.
      </p>
      <p class="mt-2 text-base text-gray-800">
        You can click on an individual row to view additional information.
      </p>
    </div>
  </div>
</instructions>
