body {
  @apply bg-dbn-green;
}

body,
p {
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", sans-serif;
}

#site-title {
  font-size: 1.5rem;
  font-family: "Libre Baskerville", serif;
}

.nav-item {
  font-family: "Work Sans", sans-serif;
}

@layer base {
  a {
    @apply text-dbn-purple;
  }
}

.prose figure {
  /* center align text and figure */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prose figure figcaption {
  /* smaller width */
  max-width: 80%;
}

/* Custom#TableOfContents styling */

/* Styling the top-level items */
#TableOfContents ul {
  @apply list-none pl-0;
  /* Remove bullets and padding */
}

/* Style for top-level list items */
#TableOfContents ul>li {
  @apply pl-2;
  /* Slight padding for top-level items */
}

/* Style for second-level list items (e.g., subheadings under h2) */
#TableOfContents ul ul {
  @apply pl-4;
  /* Indentation for second-level items */
}

/* Style for third-level list items (e.g., subheadings under h3) */
#TableOfContents ul ul ul {
  @apply pl-6;
  /* Further indentation for deeper nesting */
}
