body {
  @apply bg-dbn-green;
}

body,
p {
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Libre Baskerville", sans-serif;
}

#site-title {
  font-size: 1.5rem;
  font-family: "Libre Baskerville", serif;
}

.nav-item {
  font-family: "Work Sans", sans-serif;
}

@layer base {
  a {
    @apply text-dbn-purple;
  }
}

/* Footer */
footer p {
  font-family: "Playfair Display", serif;
}