<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{ if .IsHome }}
        {{- partial "hero.html" . -}}
        {{- else }}
        {{- partial "header.html" . -}}
        {{- end }}
        <div class="bg-white min-h-screen" id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}

        <script
            src="https://unpkg.com/littlefoot/dist/littlefoot.js"
            type="application/javascript"
        ></script>
        <script type="application/javascript">
        littlefoot.littlefoot()
        </script>
    </body>
</html>
