<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        <a href="#main-content" class="skip-link">Skip to main content</a>
        {{ if .IsHome }}
        {{- partial "hero.html" . -}}
        {{- else }}
        {{- partial "header.html" . -}}
        {{- end }}
        <div id="content">
        <main id="main-content">
        {{- block "main" . }}{{- end }}
        </main>
        </div>
        {{- partial "footer.html" . -}}
        <script src="https://unpkg.com/littlefoot/dist/littlefoot.js"></script>
        <script>
            littlefoot.littlefoot({
                buttonTemplate: '<button aria-expanded="false" aria-label="Footnote <% number %>" class="littlefoot__button" id="<% reference %>" title="See Footnote <% number %>"><i class="fa-solid fa-asterisk fa-lg"></i></button>'
            })
        </script>
    </body>
</html>

