<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="min-h-screen flex flex-col">
        {{ if .IsHome }}
        {{- partial "hero.html" . -}}
        {{- else }}
        {{- partial "header.html" . -}}
        {{- end }}
        <div class="bg-white flex-grow" id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        <script src="https://unpkg.com/littlefoot/dist/littlefoot.js"></script>
        <script>littlefoot.littlefoot()</script>
    </body>
</html>

