{{ define "main" }}
<body x-data="billsData">  
    <div class="container mx-auto w-full h-full">
      <h2 class="text-4xl font-medium pt-4">{{ .Title }}</h2>

      <div class="flex flex-wrap">
        <div class="w-full px-12 py-8">
          <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a
                class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal border-none"
                @click="toggleTabs(1)"
              >
                Weekly Bills
              </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a
              class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal border-none"
                @click="toggleTabs(2)"
              >
                General Bills
              </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a
              class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal border-none"
                @click="toggleTabs(3)"
              >
                Total Deaths
              </a>
            </li>
            <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
              <a
              class="text-xs font-bold uppercase px-5 py-3 rounded block leading-normal border-none"
                @click="toggleTabs(4)"
              >
                Christenings
              </a>
            </li>
          </ul>
          <div :class="{ hidden: openTab !== 1, block: openTab === 1 }">
            <WeeklyBillsTable />
          </div>
          <div :class="{ hidden: openTab !== 2, block: openTab === 2 }">
            <div>
              <GeneralBillsTable />
            </div>
          </div>
          <div :class="{ hidden: openTab !== 3, block: openTab === 3 }">
            <div>
              <DeathCausesTable />
            </div>
          </div>
          <div :class="{ hidden: openTab !== 4, block: openTab === 4 }">
            <div>
              <ChristeningsDataTable />
            </div>
          </div>
        </div>
      </div>

      <div id="accordion-flush" data-accordion="collapse"
        data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
        data-inactive-classes="text-gray-500 dark:text-gray-400">
        <div x-data="{ expanded: false }" class="filter__header">
          <h2 id="accordion-flush-heading-1">
            <button type="button" @click="expanded = ! expanded"
              class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-900 border-b border-t border-gray-200 dark:border-gray-700 dark:text-white"
              data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
              <span>Filter</span>
              <svg class="w-5 h-5 ml-2 transform" :class="{'rotate-180': expanded}" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 14.95a1 1 0 0 1-1.414 0l-4-4a1 1 0 1 1 1.414-1.414L10
            12.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4z" clip-rule="evenodd"></path>
              </svg>
          </h2>
          <div id="accordion-flush-body-1" aria-labelledby="accordion-flush-heading-1">
            <div class="py-5 border-b border-gray-200 dark:border-gray-700">
              <div x-show="expanded" x-collapse class="filter__header__content">
                <div class="grid grid-cols-4 gap-4 pb-6">
                  <div>
                    <h3 class="text-base font-medium leading-6 text-gray-900">Parishes</h3>
                    <div class="py-4 px-5 max-h-64 overflow-scroll border border-slate-200">
                      <div class="filter__header__content__item" style="height: 200px; overflow-y: scroll;">
                        <template x-for="parish in parishes" :key="parish.id">
                          <div>
                            <input type="checkbox" :id="parish.canonical_name" :value="parish.id"
                              x-model="filters.selectedParishes">
                            <label :for="parish.canonical_name" x-text="parish.canonical_name"></label>
                          </div>
                        </template>
                      </div>
                    </div>
                  </div>
                  <div>
                    <h3 class="text-base font-medium leading-6 text-gray-900">Year Range</h3>
                    <div>
                      <label for="start-year">Start Year</label>
                      <input
                        class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        type="number" id="start-year" name="start-year" min="1648" max="1754" value="1648"
                        @change="setStartYear()" x-model="filters.selectedStartYear">
                    </div>
                    <div>
                      <label for="end-year">End Year</label>
                      <input
                        class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        type="number" id="end-year" name="end-year" min="1648" max="1754" value="1754"
                        @change="setEndYear()" x-model="filters.selectedEndYear">
                    </div>
                  </div>
                  <div>
                    <div class="w-1/2 inline-block relative">
                      <h3 class="text-base font-medium leading-6 text-gray-900">Count Type</h3>
                      <select
                        class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                        @change="setCountType()" x-model="filters.selectedCountType">
                        <option value="All">All</option>
                        <option value="Buried">Buried</option>
                        <option value="Plague">Plague</option>
                        <option value="Total">Total</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <button
                      class="text-xs font-bold uppercase px-5 py-3 m-0.5 w-40 rounded block leading-normal border-solid border-2 border-dbn-yellow text-white bg-dbn-yellow hover:bg-dbn-yellowdark"
                      @click="resetFilters">
                      Reset Filters
                    </button>
                    <button
                    class="text-xs font-bold uppercase px-5 py-3 m-0.5 w-40 rounded block leading-normal border-solid border-2 border-dbn-yellow text-white bg-dbn-yellow hover:bg-dbn-yellowdark"
                    @click="applyFilters">
                      Apply Filters
                    </button>

                    <div 
                    class="text-xs font-bold uppercase px-1 py-3 m-0.5 leading-normal text-black hover:underline"
                    @click="instructionsOpen = true"
                    >
                      How to use this table
                    </div>
              
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
    <div>
      <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
        <thead class="bg-gray-100 dark:bg-gray-700">
          <tr>
            <th scope="col"
              class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"
              width="30%" @click="sort('name')">Parish</th>
            <th scope="col"
              class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"
              width="20%" @click="sort('count_type')">Count Type</th>
            <th scope="col"
              class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"
              width="20%" @click="sort('count')">Count</th>
            <th scope="col"
              class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"
              width="10%" @click="sort('week_no')">Week Number</th>
            <th scope="col"
              class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"
              width="10%" @click="sort('year')">Year</th>
            <th scope="col"
              class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"
              width="20%">Split Year</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
          <template x-for="bill in bills" :key="bill.id">
            <tr class="hover:bg-gray-100 dark:hover:bg-gray-700" @click="modalOpen =!modalOpen; modalBill = bill">
              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"
                x-text="bill.name"></td>
              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"
                x-text="bill.count_type"></td>
              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"
                x-text="bill.count"></td>
              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"
                x-text="bill.week_no"></td>
              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"
                x-text="bill.year"></td>
              <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"
                x-text="bill.split_year"></td>
            </tr>
          </template>
        </tbody>
      </table>

      <instructions x-show="instructionsOpen" class="fixed inset-0 z-50 overflow-y-auto" aria-labelledby="instructions-title" role="dialog"
      aria-modal="true">
      <div class="flex items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0">
        <div x-cloak @click="instructionsOpen = false" x-show="instructionsOpen"
          x-transition:enter="transition ease-out duration-300 transform" x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-200 transform"
          x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
          class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40" aria-hidden="true"></div>
        <div x-cloak x-show="instructionsOpen" x-transition:enter="transition ease-out duration-300 transform"
          x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
          x-transition:leave="transition ease-in duration-200 transform"
          x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
          x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          class="inline-block w-full max-w-xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl">
          <div class="flex items-center justify-between space-x-4">
            <h3 class="text-lg font-medium leading-6 text-gray-900" id="instructions-title">How to use this table</h3>
            <button @click="instructionsOpen = false" class="text-gray-600 focus:outline-none hover:text-gray-700">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </button>
          </div>
          <p class="mt-2 text-base text-gray-800">The filter is divided into three areas: parishes, years, and count types. You can select one or more options from each area. The parishes can be searched by typing in the search box. "Count type" refers to whether you wish to see the count of people buried, people with the plague, or both.</p>
          <p class="mt-2 text-base text-gray-800">Once you've made adjustments to the filters, click "Apply Filters" to update the table. Click "Reset Filters" to reset the table to its default state.</p>
          <p class="mt-2 text-base text-gray-800">You can click on an individual row to view additional information.</p>
        </div>
      </div>
      </instructions>
  
      <modal x-show="modalOpen" class="fixed inset-0 z-50 overflow-y-auto" aria-labelledby="modal-title" role="dialog"
        aria-modal="true">
        <div class="flex items-end justify-center min-h-screen px-4 text-center md:items-center sm:block sm:p-0">
          <div x-cloak @click="modalOpen = false" x-show="modalOpen"
            x-transition:enter="transition ease-out duration-300 transform" x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-200 transform"
            x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
            class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-40" aria-hidden="true"></div>
          <div x-cloak x-show="modalOpen" x-transition:enter="transition ease-out duration-300 transform"
            x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave="transition ease-in duration-200 transform"
            x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            class="inline-block w-full max-w-xl p-8 my-20 overflow-hidden text-left transition-all transform bg-white rounded-lg shadow-xl 2xl:max-w-2xl">
            <div class="flex items-center justify-between space-x-4">
              <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title" x-text="modalBill.name"></h3>
              <button @click="modalOpen = false" class="text-gray-600 focus:outline-none hover:text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </button>
            </div>
            <p class="mt-2 text-sm text-gray-500">Data for the week of <span x-text="modalBill.start_month"></span> <span
                x-text="modalBill.start_day"></span> to <span x-text="modalBill.end_month"></span> <span
                x-text="modalBill.end_day"></span>, <span x-text="modalBill.year"></span> (<span
                x-text="modalBill.split_year"></span>)</p>
            <p class="mt-2 text-sm text-gray-800"><strong>Count Type</strong>: <span x-text="modalBill.count_type"></p>
            <p class="mt-2 text-sm text-gray-800"><strong>Count</strong>: <span x-text="modalBill.count"></p>
            <p class="mt-2 text-sm text-gray-800"><strong>Week Number</strong>: <span x-text="modalBill.week_no"></span>
            <div x-data="{ isMissing: false }">
              <!-- if missing is True, display "record has missing values" -->
              <p class="mt-2 text-sm text-gray-800" x-show="isMissing"><strong>Record has missing values</strong></p>
            </div>
            <div x-data="{ isIllegible: false }">
              <!-- if missing is True, display "record has missing values" -->
              <p class="mt-2 text-sm text-gray-800" x-show="isIllegible"><strong>Record has illegible values</strong></p>
            </div>
              
            </p>
          </div>
        </div>
      </modal>
  
      <div class="flex md:flex md:flex-grow flex-row justify-end space-x-1">
        <p class="text-sm text-gray-700 py-1" x-html="getSummary"></p>
      </div>
  
      <div id="control" class="pb-10">
        <div class="flex-1 flex items-center">
          <div class="flex items-center pr-5">
            <button
              class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 ml-0 rounded-l-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              :class="{'disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none': page === 1}"
              @click="changePage(1)" :disabled="page === 1">First</button>
            <button
              class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              :class="{'disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none': page === 1}"
              @click="changePage(page - 1)" :disabled="page === 1">Previous</button>
            <button
              class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-r-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              :class="{'disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none': page === pagination.lastPage}"
              @click="changePage(page + 1)" :disabled="page === pagination.lastPage">Next</button>
          </div>
  
          <div
            class="bg-white border border-gray-300 text-gray-500 ml-0 rounded-l-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            Items per page</div>
          <div class="w-1/2 inline-block relative">
            <select
              class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-r-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
              @change="setLimit()" x-model="server.limit">
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>
  
      </div>
    </div>

    {{ $js := resources.Get "js/database.js" | js.Build | resources.Minify }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <script type="module" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}" async></script>
  
  </body>

{{ end }}