{{ define "main" }}
<div class="wrap tag-page">
  <h2 class="page-title">Posts tagged with <em>{{ .Title }}</em></h2>
  {{ .Content }}
  <div class="post-list">
    {{ range .Pages }}
    <article class="post-item">
      <p class="meta"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ with .Params.author }}
      <p class="post-author">By {{ range $i, $author := . }}{{ if $i }} &amp; {{ end }}{{ $author }}{{ end }}</p>
      {{ end }}
      <div class="prose prose-wide">
        <p>{{ .Summary | plainify | truncate 300 }}</p>
      </div>
      <a href="{{ .Permalink }}" class="arrow-link">Read more &rarr;</a>
    </article>
    {{ end }}
  </div>
</div>
{{ end }}
