@import 'hint.css';
@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Libre+Baskerville&family=Playfair+Display&family=Work+Sans&display=swap');

// NOTE: There's a fix for a scrolling header bug in vue-good-table when 
// :fixed-header=true. That edit is to remove the overflow-x from .vgt-fixed-header in
// the node_module/dist folder.

/* Palette for DBN */
/* SCSS HEX */
$misty-moss: #b1a569ff;
$black-olive: #3e3e32ff;
$light-cornflower-blue: #9ed0e6ff;
$mulberry: #b95f89ff;
$burnt-orange: #c75000ff;

/* SCSS HSL */
$misty-moss: hsla(50, 32%, 55%, 1);
$black-olive: hsla(60, 11%, 22%, 1);
$light-cornflower-blue: hsla(198, 59%, 76%, 1);
$mulberry: hsla(332, 39%, 55%, 1);
$burnt-orange: hsla(24, 100%, 39%, 1);

/* SCSS RGB */
$misty-moss: rgba(177, 165, 105, 1);
$black-olive: rgba(62, 62, 50, 1);
$light-cornflower-blue: rgba(158, 208, 230, 1);
$mulberry: rgba(185, 95, 137, 1);
$burnt-orange: rgba(199, 80, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #b1a569ff, #3e3e32ff, #9ed0e6ff, #b95f89ff, #c75000ff);
$gradient-right: linear-gradient(90deg, #b1a569ff, #3e3e32ff, #9ed0e6ff, #b95f89ff, #c75000ff);
$gradient-bottom: linear-gradient(180deg, #b1a569ff, #3e3e32ff, #9ed0e6ff, #b95f89ff, #c75000ff);
$gradient-left: linear-gradient(270deg, #b1a569ff, #3e3e32ff, #9ed0e6ff, #b95f89ff, #c75000ff);
$gradient-top-right: linear-gradient(45deg, #b1a569ff, #3e3e32ff, #9ed0e6ff, #b95f89ff, #c75000ff);
$gradient-bottom-right: linear-gradient(135deg, #b1a569ff, #3e3e32ff, #9ed0e6ff, #b95f89ff, #c75000ff);
$gradient-top-left: linear-gradient(225deg, #b1a569ff, #3e3e32ff, #9ed0e6ff, #b95f89ff, #c75000ff);
$gradient-bottom-left: linear-gradient(315deg, #b1a569ff, #3e3e32ff, #9ed0e6ff, #b95f89ff, #c75000ff);
$gradient-radial: radial-gradient(#b1a569ff, #3e3e32ff, #9ed0e6ff, #b95f89ff, #c75000ff);

body {
  @apply bg-dbn-green;
}


body, p {
  font-family: 'Work Sans', sans-serif;
}

footer {
  font-family: 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eczar', sans-serif;
}

#site-title {
  font-size: 1.5rem;
  font-family: 'Libre Baskerville', serif;
}

.nav-item {
  font-family: 'Work Sans', sans-serif;
}

.slider-container {
  padding-top: 32px;
  padding-left: 25px;
  padding-right: 25px;
}

/* This fixes an issue with the filter accordion toggle */
.collapse { visibility: inherit; }

// Footer
footer .logos {
    display: flex;
    flex-wrap: wrap;
}
  
footer .logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
footer .logos img {
  width: 200px;
  height: auto;
  margin: 1rem (2 * 1rem) 0 0;
  box-shadow: none;
  border: 0;
  
  &.gmu-logo {
      width: 80px;
      margin-top: 0;
  }

  &.nsf-logo {
      width: 80px;
      margin-top: 0;
  }
}