<footer class="footer">
    <div class="content has-text-centered">
        <p><strong>London Bills of Mortality</strong> is generously funded in part by the <a href="https://www.nsf.gov">National Science Foundation</a> and developed by the <a href="https://rrchnm.org/">Roy Rosenzweig Center for History and New Media</a> at <a href="https://www2.gmu.edu/">George Mason University</a>.</p>
    </div>
    <div class="logos row">
        <a href="https://rrchnm.org/"><img class="rrchnm-logo" src="/img/rrchnm-logo.png" alt="Roy Rosenzweig Center for History and New Media logo"></a>
        <a href="https://www2.gmu.edu/"><img class="gmu-logo" src="/img/gmu-logo.png" alt="George Mason University logo"></a>
        <a href="https://www.nsf.gov"><img class="nsf-logo" src="/img/nsf-logo.png" alt="National Science Foundation logo"></a>
    </div>
</footer>
</div>

<script src="/js/vue.js"></script>
<script src="/js/buefy.min.js"></script>
<script src="/js/app.js"></script>

<script>
    new Vue({
        el: '#app'
    })
</script>