.legend {
    line-height: 20px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
    color: black;
    outline-width: thin;
}

.legend h4 {
    margin-top: 0px;
}

.title {
    padding-top: 0px;
}

.title h2 {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title h3 {
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
    line-height: 5px;
}

.info h4 {
    margin-top: 0px;
}